* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
}

.gallery{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gallery-item:nth-child(1){
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;
}

.gallery-item{
    position: relative;
    overflow: hidden;
}

.gallery-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}